@font-face {
    font-family: "joystix";
    src: url("joystix.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #202020;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.player {
    width: 50%;
}

.tetris {
    margin: 0 auto;
    border: 3px #eee solid;
}

.score, #max-score {
    margin-bottom: 20px;
    color: #eee;
    font-family: 'joystix';
    font-size: 2em;
}

h1 {
    margin: 0;
    color: #eee;
    font-family: 'joystix';
    font-size: 1.5em;
}